:root {
    font-size: calc(1.2vw + 1.3em);
    --black-color: #4d4959;
    --active-color: #64c29e;
    --subtitle-color: #848789;
    --subtitle-lighter: #d3d7d9;
    --bg-dark: #282f35;
}

body {
    color: var(--black-color);
    font-size: 0.7rem;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

header.intro {
    height: 20rem;
    background: #ebebf1 url("../photos/main-bg.png") center no-repeat;
    background-size: cover;
}

nav.intro-nav {
    padding-top: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.intro-nav > img {width: 2rem;}

.intro-navs {padding: 0.4rem;}

.left > a {margin-right: .9rem;}

.right > a {margin-left: .9rem;}

.intro-navs > a {
    text-transform: uppercase;
    font-size: 0.35rem;
    transition: color .2s linear;
}

.intro-navs > a:hover {color: var(--active-color);}

@media (max-width: 320px) {
    .right > a {margin-left: .3rem;}

    .left > a {margin-right: .3rem;}

    .intro-nav > img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

section.information {padding: 2rem 0 3rem;}

.container {
    width: 100%;
    max-width: 18rem;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
}

.container > .icon {
    margin-bottom: 0.5rem;
    width: 1rem;
}

.container > .title {
    font-size: 0.6rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.container > .description {
    font-size: 0.4rem;
    line-height: 2;
    color: var(--subtitle-color)
}

.bikes-block {display: flex;}

img.biggest-bike {width: 70%;}

.smallest-bike {
    width: 100%;
    height: 8rem;
    background: url(../photos/bikes/bike-1/second.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.second {
    background: url(../photos/bikes/bike-2/second.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

section.bike {padding: 1rem 0 2.5rem;}

img.medium-bike {width: 30%;}

.mini {
    background: url(../photos/bikes/bike-3/mini.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

div.poster {max-width: 24rem;}

.poster-information {display: flex; justify-content: center;}

.poster-title {font-size: .6rem; font-weight: normal;}

.poster-rime {font-size: .5rem; margin-left: 0.15rem; padding: 0.1rem 0; color: var(--subtitle-color);}

.twitter {margin-bottom: 0.5rem;}

.poster-subtitle {margin-top: 0.3rem; font-size: 0.5rem; color: var(--subtitle-color); line-height: 1.5;}

section.works {display: flex;}

div.works-block {width: 33%;}

.two-image {display: flex;}

.biggest-work {width: 100%;}

.medium-work {width: 50%;}

.smallest-work {width: 50%;}

div.inline {display: flex;}

div.largest-work {width: 34%;}

section.shop-button {
    width: 100%;
    height: 4rem;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

a.shop-button {
    font-size: 0.5rem;
    color: #fff;
    border: #fff 2px solid;
    padding: 1.25em 3em;
    text-transform: uppercase;
}

.stay-container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0rem 2.5rem;
    text-align: center;
}

.stay-container > img {width: 2.3rem; margin-bottom: 0.4rem;}

.stay-container > p {font-size: 0.6rem; color: var(--subtitle-color);}

.stay-description {margin-bottom: 0.2rem;}

p.hint {font-size: 0.4rem; margin-bottom: 0.5rem; color: var(--subtitle-lighter);}

.stay-form {
    display: flex; 
    justify-content: center; 
    width: 30%; 
    margin: 0 auto;}

.stay-form > input {
    width: 69%;
    border: var(--subtitle-lighter) 1.5px solid;
    margin-right: 1%;
    font-size: 0.4rem;
    color: var(--subtitle-color)
}

a.form-button {
    width: 30%;
    height: 1.3rem;
    padding-top: 0.35rem;
    background-color: var(--active-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 0.5rem;
}

footer {
    background-color: #f7f7f7;
    color: var(--subtitle-color);
    padding: 2.3rem 0 2rem;
}
 
.footer-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.about-creating {display: flex; width: 37.5%; font-size: 0.6rem; padding-top: 1rem;}

.yebo-logo {width: 1.4rem; height: 1rem;}

.creating-description {margin-right: 0.3rem;}

.footer-communicate {width: 25%; text-align: center; padding-top: 1rem;}

.communicate-ico {margin-right: 0.15rem;}

.footer-information {width: 37.5%; font-size: 0.45rem; padding-left: 20%;}

p.main {font-size: 0.5rem; font-weight: bold;}

p.cursive {font-style: italic;}

@media (max-width: 800px) {
    .bikes-block {flex-direction: column;}

    img.biggest-bike, img.medium-bike {width: 100%;}

    img.medium-bike {max-height: 16rem;}

    div.works-block {width: 100%;}

    section.works {flex-direction: column;}

    a.shop-button {font-size: 0.4rem; padding: 1.6em 2.5em;}
    
    .stay-form {width: 60%; flex-direction: column;}

    .stay-form > input {width: 100%; height: 1.3rem;}

    a.form-button {width: 100%;}

    .footer-container {flex-direction: column;}

    .about-creating {width: 100%; justify-content: center;}

    .footer-communicate {width: 100%; margin-bottom: 1rem;}

    .footer-information {width: 100%; text-align: center; padding: 0;}
}