:root {
    font-size: calc(1.5em + 0.5vw);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

main.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) .5fr;
    grid-template-rows: repeat(6, auto);
}

.header-info > .menu-img {
    width: 1rem;
    margin-bottom: .6rem;
}

/*MEDIA*/

.title {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.6rem;
}

.subtitle {
    max-width: 22rem;
    font-weight: lighter;
    margin-bottom: 1rem;
    font-size: .7rem;
}

.subtitle.lighter {
    color: #bcc0c4;
}

.info-block > .subtitle {margin-bottom: 1.5rem;}

.button {
    color: #000;
    border: #000 1px solid;
    padding: .5rem .8rem;
    font-size: .7rem;
    border-radius: 1em;
}

a.white {
    color: #fff;
    border: #fff 1px solid;
}


/*GRID BLOCKS*/

.header-img {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background: #e2c99c url(../photos/header-img.png) center no-repeat;
    background-size: cover;
}

.header-info {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
    background-color: #f3f3f3;
    padding: 1.5rem;
}

.about {
    grid-column: 1 / 3;
    padding: 1.5rem;
    grid-row: 2 / 4;
    background: #52a8bb url(../photos/bg2.png) center no-repeat;
    background-size: cover;
    color: #fff;
}

.about > *:not(:last-child) {margin-bottom: 1.5rem;}

.history {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    padding: 1.5rem;
    background: #f3e5c4 url(../photos/bg3.png) center no-repeat;
    background-size: cover;
}

.page {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    background: #4e5a64 url(../photos/bg4.png) center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 1.5rem;
}

.designed {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: #1f4759 url(../photos/bg5.png) center no-repeat;
    color: #fff;
    padding: 1.5rem 1rem;
    background-size: cover;
}

.designed--person {margin-top: 5rem; padding: .1rem;}

.person-name {margin: .5rem 0; font-size: 1.4rem;}

.person-work {font-size: .55rem;}

.form {
    grid-column: 2 / 6;
    grid-row: 4 / 5;
    background: #767a7d url(../photos/bg6.png) center no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {

    main.grid-container > * {grid-column: 1 / 6;}

    .header-img {
        grid-row: 1 / 2;
        height: 15rem;
    }

    .header-info {grid-row: 2 / 3;}

    .about {grid-row: 3 / 5; padding: 2rem 1rem;}

    .history {grid-row: 5 / 6; padding: 2rem 1rem;}

    .page {grid-row: 6 / 7; padding: 2rem 1rem;}

    .designed {grid-row: 7 / 8}
}