:root {box-sizing: border-box;}

*,
::before,
::after {box-sizing: inherit;}

body {margin: 0;}

blockquote, p, h1, h2, h3, h4, h5, h6, ul, ol, li {margin: 0; font-style: none; list-style: none;}

a {text-decoration: none; color: #000;}