:root {font-size: calc(0.5em + 1vw + 1vh);}

p, h1 {margin: 0;}

body {
	height: 100vh;
	display: flex;
	justify-content: center; 
	align-items: center;
	margin: 0;
	background: #555 url(../photos/bg3.jpg) center no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

main {
	text-align: center;
	width: 8rem;
	font-size: 1.5rem;
}

.timer {
	background-color: #fff;
	border-radius: 1rem;
}

h1.header {			
	text-transform: uppercase;
	font-size: 1.8rem;
	margin-bottom: 0.6rem;
	color: #fff;
}