
.intro { color: #fff; height: 35rem; }

.intro--hat {
    display: flex;
    padding-top: 1.4rem;
}

.intro--logo {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.intro--logo > img { width: 8rem; }

.intro--menu {
    width: 20%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.intro--menu > a:not([class = "menu-img"]) {
    color: #fff;
    text-transform: uppercase;
    margin-right: 0.2rem;
}

.intro--menu > .menu-img { width: 1rem; }

.header-container {
    width: 90%;
    margin: 0 auto;
}

.intro--title {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro--title > h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
}

/*BACKGROUNDS*/

header.main { background: #d4af37 url(../photos/main-bg.png) center no-repeat; background-size: cover; }

/*MOBILE*/

@media (max-width: 768px) {

    .intro--menu {
        background-color: rgba(0, 0, 0, .7);
        padding: 1.3rem 0;
    }

    .intro--hat {
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        position: fixed;
        padding: 0;
    }

    .header-container { padding-top: 3.8rem; }

    .intro--title { height: 100%; }

    .intro--menu > a:not([class = "menu-img"]) {
        font-size: 0;
        margin-right: 0rem;
    }
}