:root {
    font-size: calc(.9em + .6vw);
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: .9rem;
}

.container {
    height: auto;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    position: relative;
    top: 0; left: 0;
}

.main_container { max-width: 1400px; }
.header_container { 
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.slider-container {
    height: 25rem;
    overflow-x: hidden;
    position: relative;
}

.slider-container__trackline {
    height: 100%;
    display: flex;
    transition: transform .3s ease-in-out;
}

.modal-window_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
}

.search_window {
    background-color: #000;
    opacity: 0;
    bottom: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .4s ease-in-out,
                bottom .4s ease-in-out;
}

.menu_modal_window {
    left: 100vw;
    background-color: rgba(0, 0, 0, .25);
    transition: left .6s ease-in-out;
}

.menu_block {
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 100vw;
    right: 0;
    z-index: 1000;
    transition: left .7s ease-in-out;
    overflow: hidden;
    border-left: rgba(0, 0, 0, .25) solid 1px;
}

@media (max-width: 300px) {
    .menu_block.active { left: 0 !important; }
}

.menu_block.active { left: calc(100vw - 15rem); }
.menu_modal_window.active { left: 0; }

.search_window.active {
    opacity: 1;
    bottom: 0;
}

.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > * { cursor: pointer; }

/*MEDIA*/
.menu_ico {
    width: 1.3rem;
    height: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.menu_ico__line {
    height: .1rem;
    width: 100%;
    background-color: #222;
}

.menu_ico__line.small { width: 75%; transition: width .2s ease-in-out; }
.menu_ico:hover .menu_ico__line.small { width: 100%; }
.menu_ico.active .menu_ico__line.small { width: 100%; }
header i { transition: transform .2s ease-in-out; }
header i:hover { transform: rotate(5deg); }

.absolute-top_button {
    position: absolute;
    top: 1.5rem;
    right: 1.8rem;
    color: #fff;
    cursor: pointer;
}

.input_element {
    display: block;
    width: 70vw;
    height: 2.6rem;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    padding: 0 1rem;
    font-size: .8rem;
    font-family: 'Work Sans', sans-serif;
    outline: none;
    border: none;
}

.confirm_button {
    background-color: #fff;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
    height: 2.6rem;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    border: none;
    outline: none;
    cursor: pointer;
}

ul.menu_block__list {
    padding: 6rem 1.7rem 0;
    text-transform: uppercase;
}

ul.menu_block__list .menu_block__list_element + .menu_block__list_element { margin-top: .8rem; }

.slider-container__trackline_item { 
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-color: #777;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.trackline_item__information {
    padding: 1rem 3rem;
    background-color: #fff;
}

.trackline_item__information__title {
    text-align: center;
    font-weight: normal;
    position: relative;
}

.trackline_item__information__reading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #999;
    font-size: .7rem;
    margin-bottom: .3rem;
}

button.slider_button {
    background-color: #fff;
    outline: none; border: none;
    cursor: pointer;
    padding: .8rem;
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    transition: color .2s ease-in-out,
                background-color .2s ease-in-out,
                opacity .3s ease-in-out;
}

.slider-container:hover button.slider_button { opacity: 1; }

@media (max-width: 768px) {
    button.slider_button { opacity: 1; }
}

button.slider_button:hover {
    background-color: #333;
    color: #fff;
}

.slider_button.button_left { top: 11rem; left: 1rem; }
.slider_button.button_right { top: 11rem; right: 1rem; }
