:root {
	font-size: calc( 1em + .5em );
}

body {
	font-family: "Exo 2", sans-serif;
	color: #fff;
}

.container {
	background: #444 url(../img/main-bg.jpg) center no-repeat;
	background-size: cover;
	min-height: 100vh;
}

header {
	display: flex;
	padding: 1rem;
}

.music_content {
	max-width: 1300px;
	padding: 0.5rem;
	margin: 5rem auto 0;
	display: flex;
	height: auto;
}
.music_content .music_top_list__container {
	width: 60%;
	overflow-x: hidden;
}
.music_content .music_top_list {
	width: calc(100% + 30px);
	overflow-x: hidden;
}
@media (min-width: 770px) {
	.music_content .music_top_list {
		overflow-y: auto;
		max-height: 59vh;
	}
}

.music_player {
	width: 40%;
	transform: translateX(0.7rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo {
	font-family: "Indie Flower", cursive;
	font-size: 1.4rem;
	color: #fff;
	margin-right: 0.3rem;
	transition: transform 0.2s ease-in-out;
}

.logo:hover {
	transform: translateY(-0.1rem);
}

.music_player {
	transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
	opacity: 0;
}
.music_player .music_player__image {
	width: 15rem;
	height: 15rem;
	transition: opacity 0.2s ease-in-out;
	border-radius: 0.4rem;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	opacity: 0.9;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.music_player .loading {
	opacity: 0.6;
	animation: LoadingAnimation 4s ease-in-out infinite;
}
@keyframes LoadingAnimation {
	0% {
		transform: scale(1);
	}
	40% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.03);
	}
	100% {
		transition: scale(1);
	}
}
.music_player .music_player__music_play {
	padding: 0.8rem 0.4rem 0;
	width: 100%;
}
.music_player .music_play__music-title {
	font-size: 1.2rem;
	font-weight: normal;
}
.music_player .music_play__music-author {
	font-size: 0.9rem;
	color: #cddfd9;
	font-weight: normal;
}
.music_player .music_player__music_play__line {
	width: 60%;
	margin: 2rem auto 0;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.music_player .music_player__music_play__line .music_max_line {
	width: 100%;
	background-color: #fff;
	height: 0.2rem;
	border-radius: 0.1rem;
}
.music_player .music_player__music_play__line .music_playing_line {
	border-radius: 0.1rem;
	width: 0%;
	background-color: #97895E;
	height: 0.2rem;
	position: absolute;
	top: 0;
	left: 0;
}
.music_player .music_player__music_play__line .music_playing_line__ball {
	content: "";
	border-radius: 50%;
	width: 0.6rem;
	height: 0.6rem;
	background-color: #97895E;
	position: absolute;
	left: calc(0% - .3rem);
	top: 0;
	transform: translateY(-0.2rem);
}
.music_player .muxic_play__buttons {
	width: 60%;
	margin: 1rem auto 0;
	padding-left: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.music_player .muxic_play__buttons .stop {
	width: 0.9rem;
	opacity: 0.7;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.music_player .muxic_play__buttons .stop .column {
	width: 0.3rem;
	height: 0.9rem;
	background-color: #fff;
}
.music_player .muxic_play__buttons .continue {
	border: 0.5rem solid transparent;
	border-left: 0.9rem solid #fff;
	height: 0;
	width: 0;
	opacity: 0.7;
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	cursor: pointer;
}
.music_player .muxic_play__buttons .active_button {
	transform: scale(1.05);
	opacity: 1;
}

.active {
	opacity: 1;
	transform: translateX(0);
}

.music_top_list__block {
	margin-bottom: 0.2rem;
	cursor: pointer;
	padding: 0.3rem;
	display: flex;
	align-items: center;
	position: relative;
}
.music_top_list__block h3, .music_top_list__block h4 {
	font-weight: normal;
}
.music_top_list__block .block__music_place {
	font-size: 0.9rem;
	font-family: "Indie Flower", cursive;
	color: #B9B6AC;
	position: absolute;
	top: 30%;
	left: 0;
}
.music_top_list__block .block_information__music_title {
	font-size: 1.1rem;
	transition: opacity 0.2s ease-in-out;
	margin-left: 1rem;
}
.music_top_list__block .block_information__music_author {
	font-size: 0.7rem;
	color: #cddfd9;
	margin-left: 1rem;
}

.music_top_list__block:hover .block_information__music_title {
	opacity: 0.9;
}

.close_icon {
	display: none;
}

@media (max-width: 769px) {
	body {
		height: auto;
	}
	body .container {
		width: 100%;
		height: 100%;
	}

	.music_content {
		overflow-x: hidden;
		display: block;
	}
	.music_content .music_top_list {
		width: 100% !important;
	}
	.music_content .music_top_list__container {
		width: 100% !important;
	}
	.music_content .music_player {
		position: fixed;
		overflow: hidden;
		opacity: 1;
		transform: translateX(0);
		width: 100vw !important;
		top: 0;
		left: 100vw;
		right: 0;
		bottom: 0;
		transition: left 0.7s ease-in-out !important;
		background-color: #444;
	}
	.music_content .music_player .music_player__image {
		width: 10rem;
		height: 10rem;
	}
	.music_content .music_player .close_icon {
		display: block;
		position: absolute;
		z-index: 100;
		top: 0.4rem;
		left: 0.7rem;
		cursor: pointer;
	}
	.music_content .music_player .music_player__music_play__line {
		margin: 5rem auto 0;
	}
	.music_content .active {
		left: 0;
	}
}