:root {
    font-size: calc(.5vw + .7em);
}

body {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

@keyframes BackgroundAnimation {
    0% { background-color: #FFD6F5; }
    20% { background-color: #E1C8E4; }
    40% { background-color: #E4DBC3; }
    60% { background-color: #C3E9E0; }
    80% { background-color: #C1CCE6; }
}

.game-area {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #FFD6F5;
    animation: BackgroundAnimation 15s ease-in-out infinite;
}

.unfriendly-area {
    grid-column: 2 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-error {
    padding: 0 2rem;
    position: fixed;
    left: 0;
    right: 100vw;
    top: 0;
    bottom: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    letter-spacing: .1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 999;
}

.game-error > * {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .game-error {
        bottom: 0;
        right: 0;
    }
}

/*
@keyframes CubeAnimation {

    30% {
        border-radius: 30%;
        transform: rotate(0deg);
    }

    50% {
        border-radius: 50%;
        transform: rotate(120deg);
    }

    80% {
        border-radius: 50%;
        transform: rotate(180deg);
    }

    100% {
        border-radius: 30%;
        transform: rotate(360deg);
    }

}

*/

@keyframes HintAnimation {
    0% { opacity: 0;}
    20% { opacity: .4; }
    80% { opacity: .4; }
    100% { opacity: 0; }
}

.player-area {
    grid-column: 1 / 2;
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.player-cube.top { top: 0; }
.hint-text.top {top: 12vh}
.player-cube.middle { top: calc(50% - 3rem); }
.hint-text.bottom { bottom: 12vh; }
.player-cube.bottom { top: calc(100% - 10vh); }

.hint-text {
    position: absolute;
    color: white;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    opacity: 0;
    animation: HintAnimation 3s ease-in-out;
    animation-delay: .5s;
}

.player-cube {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: white;
    /* animation: CubeAnimation 4s infinite ease-in-out; */
    animation-delay: 1s;
    z-index: 10;
    transition: top .3s ease-in-out;
}