@keyframes status-animation {
    0% {transform: scale(0);}
    60% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes phone-animation {
    0% {transform: rotate(0);}
    20% {transform: rotate(20deg);}
    40% {transform: rotate(-10deg);}
    60% {transform: rotate(20deg);}
    80% {transform: rotate(0);}
}

@keyframes modal_window_show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes modal_window_hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes block_line_first {
    0% {transform: rotate(315deg); opacity: 1;}
    100% {transform: rotate(180deg); opacity: 0;}
}

@keyframes block_line_second {
    0% {transform: rotate(45deg); opacity: 1;}
    100% {transform: rotate(180deg); opacity: 0;}
}