:root {
    font-size: calc(1em + 1vw + 1vh);
    --dark: #474747;
    --main-color: #9f7a71;
    --passive-color: #c8b8a9;
    --line_playing_length: 0%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: var(--main-color) url(../photos/main-bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;
    height: 90vh;
    border-radius: .6rem;
    padding: .5rem;
    background-color: rgba(20, 20, 20, .8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > .head {
    font-size: 1rem;
    margin-bottom: 30vh;
    text-align: center;
    width: 100%;
}

.head > *:not(:first-child) {
    display: inline-block;
    text-transform: uppercase;
}

.head > .author {
    color: var(--passive-color);
    font-size: .9rem;
    font-family: 'Caveat', cursive;
    margin-bottom: .3rem;
}

.head > .place {
    color: var(--main-color);
    font-size: .7rem;
}

.player {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-line {
    cursor: pointer;
    width: 100%;
    height: 1vh;
    margin-bottom: .9rem;
}

.max-line {
    height: 50%;
    width: 100%;
    background-color: #fff;
}

.playing-line {
    position: relative;
    top: -0.6vh;
    left: 0;
    height: 0.8vh;
    width: var(--line_playing_length);
    background-color: var(--main-color);
}

.player-buttons {
    font-size: 0.7rem;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.player-buttons > .time {
    display: flex;
    font-size: .6rem;
}

.player-buttons > .time > span {
    display: flex;
    margin: 0 .2rem;
}

.player-buttons > *:not(.time) {
    margin: 0 5vw;
    cursor: pointer;
    transition: color .2s linear;
}

.player-buttons > *:not(.time):hover {
    color: var(--main-color);
}