:root {
    font-size: calc(1.2vw + 1.3em);
    --black-color: #4d4959;
    --active-color: #64c29e;
}

body {
    color: var(--black-color);
    font-size: 0.7rem;
    font-family: 'Lato', sans-serif;
}

header.intro {
    height: 20rem;
    background: #ebebf1 url("../photos/main-bg.png") center no-repeat;
    background-size: cover;
}

nav.intro-nav {
    padding-top: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.intro-nav > img {width: 2rem;}

.intro-navs {padding: 0.4rem;}

.left > a {margin-right: .9rem;}

.right > a {margin-left: .9rem;}

.intro-navs > a {
    text-transform: uppercase;
    font-size: 0.35rem;
    transition: color .2s linear;
}

.intro-navs > a:hover {color: var(--active-color);}

@media (max-width: 320px) {
    .right > a {margin-left: .3rem;}

    .left > a {margin-right: .3rem;}

    .intro-nav > img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

section.information {padding: 2rem 0 3rem;}

.container {
    width: 100%;
    max-width: 18rem;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
}

.container > .icon {
    margin-bottom: 0.5rem;
    width: 1rem;
}

.container > .title {
    font-size: 0.6rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.container > .description {
    font-size: 0.4rem;
    line-height: 2;
}

.bikes-block {display: flex;}

img.biggest-bike {width: 70%;}

.smallest-bike {
    width: 100%;
    height: 5.9rem;
    background: url(../photos/bikes/bike-1/second.png) center no-repeat;
    background-size: cover;
}

.second {
    background: url(../photos/bikes/bike-2/second.png) center no-repeat;
    background-size: cover;
}

section.bike {padding: 1rem 0 2.5rem;}

@media (max-width: 800px) {
    .bikes-block {flex-direction: column;}

    img.biggest-bike {width: 100%;}
}